.homeScheduler {
    background: url("https://i.ibb.co/fSDKd5J/running-Shower.png") top center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 375px;
}